*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "poppins",sans-serif;
}

html {
    scroll-behavior: smooth;
   }

   #about {
    margin-top: 100%;
    padding-bottom: 25%;
   }
section{
    height: 100vh;
}

.container2 {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-gap: 10px;
    padding-top: 60px;
}

.container5 {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-gap: 10px;
}

.column1 {
    display: flex;
    flex-direction: column;
    padding: 15px;
}

.two-thirds {
    flex-grow: 3;
}

.one-third {
    flex-grow: 1;
}

.row1 {
    flex: 1;
    padding: 10px;
}

.row1.span-two {
    flex: 2;
}

.box1 {
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    border-color: #fe2c54;
    border-width: 10px;
    border-style:solid;
}


.box1_a {
    border-color: teal;
    border-width: 10px;
    border-style: solid;
    padding: 20px;
    border-radius: 10px;
    text-align: left;
}



.box2 {
    border-color: teal;
    border-width: 10px;
    border-style: solid;
    padding: 20px;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
}
.container4 {
    display: grid;
    align-items: center; 
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 5px;
   }


  
  .text {
    font-size: 20px;
  }

.box1 ul {
    list-style: none;
    padding: 0;
}

.box2 ul {
    list-style: none;
    padding: 0;
}

.box1 li {
    margin-bottom: 10px;
    font-family: 'Manrope', sans-serif; 
}

.box1_a h2 {
    font-family: 'Manrope', sans-serif; 
    padding-bottom: 8px;
    color: #fe2c54;
}

.box1_a p {
    font-family: 'Manrope', sans-serif; 
    line-height: 35px;
    padding-bottom: 12px;
    font-size: 20px;
}

.box1 h4 {
    font-family: 'Manrope', sans-serif; 
    color: teal;
    font-size: 20px;
    line-height: 40px;
}

.box2 h4 {
    font-family: 'Manrope', sans-serif; 
    color:#fe2c54;
    font-size: 20px;
}

.box2 li {
    font-family: 'Manrope', sans-serif; 
}

.box1 P {
    font-family: 'Manrope', sans-serif; 
}

.container6 {
    display: flex;
    align-items: center;
    justify-content: center
  }
  
  
  .image {
    flex-basis: 15px
  }

  .image img{
    max-width: 20px;
  }
  
  .text {
    font-size: 10px;
    padding-left: 8px;
  }

  .text h1{
    font-family: 'Manrope', sans-serif;
  }

  .reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 1s all ease;
  }
  
  .reveal.active{
    transform: translateY(0);
    opacity: 1;
  }

@media (max-width: 1024px) {
    /* Adjust the layout for normal laptop screen size */
    .container2 {
        grid-template-columns: 1fr;
    }

    .container5 {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 10px;
    }
}



end{
    padding-top: 10px;
    margin-bottom: 1%;
    height: 50vh;
    color:black;
    text-align: center;
}

.five h1{
    background-image: linear-gradient(white, teal);
    font-family: 'Manrope', sans-serif;
    height: 80px;
}

.four {
    background-color: white;  
  }


.container_{
    padding-top:100px !important;
    padding-left: 15px;
    padding-right: 15px;
    color: rgb(5, 118, 87);

  }
  .Yearly-timeline{ font-family: 'Poppins', sans-serif; }
          .Yearly-timeline:after{
              content: '';
              display: block;
              clear: both;
          }
          .Yearly-timeline .timeline{
              width: calc(50% + 17px);
              padding: 0 20px 20px 0;
              float: left; 
              position: relative;
          }
          .Yearly-timeline .timeline:before,
          .Yearly-timeline .timeline:after{
              content: '';
              height: 60px;
              width: 2px;
              /* border-left: 2px solid #70d6ff; */
              border-left: 2px solid #ff9770;
              transform: rotate(-45deg);
              position: absolute;
              right: 30px;
              bottom: 0;
          }
          .Yearly-timeline .timeline:after{
              background-color: #fff;
              height: 20px;
              width: 20px;
              border: 6px solid #ff9770;
              border-radius: 50%;
              right: 0;
          }   
          .Yearly-timeline .timeline-content{
              color: #555;
              background: #ff9770;
              text-align: center;
              min-height: 170px;
              padding: 30px 35px 35px;
              border-radius: 15px 15px 0 15px;
              display: block;
              position: relative;
              z-index: 1;
              text-decoration: none; 
          }
          .Yearly-timeline .timeline-content:before{
            text-decoration: none; 
              content: '';
              background-color: #fff;
              position: absolute;
              left: 17px;
              right: 17px;
              top: 17px;
              bottom: 17px;
              z-index: -1;
          }
          .Yearly-timeline .timeline-content:hover{ text-decoration: none; }
          .Yearly-timeline .timeline-icon{
              color: #777;
              font-size: 35px;
          }
          .Yearly-timeline .title{
              font-size: 22px;
              font-weight: 700;
              letter-spacing: 2px;
              width: fit-content;
              line-height: 38px;
              color: teal;
          }
          .Yearly-timeline .description{
            font-family: 'Manrope', sans-serif;
              color: black;
              font-size: 18px;
              font-weight: 400;
              letter-spacing: 0.5px;
              line-height: 25px;
              margin: 0;
          }
          .Yearly-timeline .timeline:nth-child(even){
              padding: 0 0 30px 30px;
              float: right;
          }
          .Yearly-timeline .timeline:nth-child(even):before{
              transform: rotate(45deg);
              right: auto;
              left: 30px;
          }
          .Yearly-timeline .timeline:nth-child(even):after{
              right: auto;
              left: 0;
          }
          .Yearly-timeline .timeline:nth-child(even) .timeline-content{ border-radius: 15px 15px 15px 0; }
          .Yearly-timeline .timeline:nth-child(4n+2):before,
          .Yearly-timeline .timeline:nth-child(4n+2):after{
              border-color: #fe2c54;
          }
          .Yearly-timeline .timeline:nth-child(4n+2) .timeline-content{
              background:   #fe2c54;
          }
          .Yearly-timeline .timeline:nth-child(4n+3):before,
          .Yearly-timeline .timeline:nth-child(4n+3):after{
              border-color: #ff9770;
          }
          .Yearly-timeline .timeline:nth-child(4n+3) .timeline-content{
              background: #ff9770;
          }
          .Yearly-timeline .timeline:nth-child(4n+4):before,
          .Yearly-timeline .timeline:nth-child(4n+4):after{
              border-color: #ffd670;
          }
          .Yearly-timeline .timeline:nth-child(4n+4) .timeline-content{
              background:#ffd670;
          }
          @media screen and (max-width:767px){
              .Yearly-timeline .timeline{
                  width: 100%;
                  padding: 30px 0 0 30px;
                  margin: 0 0 20px;
              }   
              .Yearly-timeline .timeline:before,
              .Yearly-timeline .timeline:nth-child(even):before{
                  transform: rotate(-45deg);
                  bottom: auto;
                  top: 0;
                  right: auto;
                  left: 30px;
              }
              .Yearly-timeline .timeline:after,
              .Yearly-timeline .timeline:nth-child(even):after{
                  bottom: auto;
                  top: 0;
                  right: auto;
                  left: 0;
              }
              .Yearly-timeline .timeline-content,
              .Yearly-timeline .timeline:nth-child(even) .timeline-content{
                  border-radius: 0 15px 15px 15px;
              }
          }
/* end of work experience */

.two{
    /* display: flex;
    width:100%;
    justify-content: center;
    gap: 10px;
    margin: auto; */
    color: rgb(228, 51, 95);
    /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%; */
  margin: 0;
    padding: 0;
}



.three {
    
    display: flex;
    flex-direction: column;
  }

  .rows{
    padding-top:65px !important;
    padding-bottom: 10px;
    background-color: teal;  
  }
  
  *:before, *:after {
    box-sizing: inherit;
  }
  
  .column {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
    height: 60%;
  }
  
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: whitesmoke;
    border-radius: 15px;
    margin: 8px;
    height: 450px;
  }

  .card:hover {
    transform: scale(1.05);
  }
  
  
  .container3 {
    padding: 16px;
    border-radius: 15px;
    background-color: whitesmoke;
    height: 60%;
  }
  
  .container3::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }

  .container3 h2{
    font-family: 'Manrope', sans-serif;
    line-height: 40px;
    color: #fe2c54;
    
  }
  
  .container3 p{
    font-family: 'Manrope', sans-serif;
    line-height: 26px;
  }
  
  
  .button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    margin: 5px;
    color: white;
    background-color: #ff964f;
    cursor: pointer;
    width: 30%;
    border-radius: 8px;
    border-color: #ff7316;
  }
  
  .button:hover {
    background-color: #ff7316;
  }

  @media screen and (min-width: 1900px) {
    .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        background-color: whitesmoke;
        border-radius: 15px;
        margin: 8px;
        height: 350px;
      }

      .user-img{
        width: 650px;
        position: absolute;
        right: 10%;
        bottom: 25%;
        margin-top: 10px;
    }
   
  }
  
  @media screen and (max-width: 1420px) {
    .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        background-color: whitesmoke;
        border-radius: 15px;
        margin: 8px;
        height: 600px;
      }
  }

  @media screen and (max-width: 1300px) {
    .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        background-color: whitesmoke;
        border-radius: 15px;
        margin: 8px;
        height: 670px;
      }
  }

  @media screen and (max-width: 1150px) {
    .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        background-color: whitesmoke;
        border-radius: 15px;
        margin: 8px;
        height: 770px;
      }
  }
  @media screen and (max-width: 860px) {
    .column {
      width: 50%;
      display: block;
    }
    .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        background-color: whitesmoke;
        border-radius: 15px;
        margin: 8px;
        height: 570px;
      }

  }

  @media screen and (max-width: 785px) {
    .column {
      width: 50%;
      display: block;
    }
    .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        background-color: whitesmoke;
        border-radius: 15px;
        margin: 8px;
        height: 670px;
      }

  }

  @media screen and (max-width: 660px) {
    .column {
      width: 100%;
      display: block;
    }
    .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        background-color: whitesmoke;
        border-radius: 15px;
        margin: 8px;
        height: 470px;
      }
  }

  @media screen and (max-width: 475px) {
    .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        background-color: whitesmoke;
        border-radius: 15px;
        margin: 8px;
        height: 550px;
      }
  }

  @media screen and (max-width: 400px) {
    .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        background-color: whitesmoke;
        border-radius: 15px;
        margin: 8px;
        height: 600px;
      }
  }

  .maps1 #pic3 {display:inline-block;}
.maps1 #pic4 {display:none;}
.maps1:hover #pic3 {display: none;}
.maps1:hover #pic4 {display: inline-block;}

.maps1 img {
    width:  250px;
    height: 250px;
    object-fit: cover;
    float: left;
    padding: 10px;
}


  /* end of slideshow */


.title{
  text-align: center;
  margin-top: 1%;
  font-family: 'Manrope', sans-serif;
font-size: 65px;
}

/* .languages-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2px;
}

.languages-container img {
  max-width: 700px;
  max-height: 500px;
} */


.languages-container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.languages-container img {
    max-width: 70%;
    max-height: 70%;
    object-fit: cover;
}

.languages-container h1 {
    font-size: 3rem;
    text-align: center;
    margin-top: 20px;
    font-family: 'Manrope', sans-serif;
}


  .grid-item img {
    max-width: 100%;
    border-radius: 10px;
    position: absolute;
  }
  
  .grid-item p {
    margin-top: 10px;
  }


.header{
    width: 100%;
    height: 100vh;
    background: #ffffff;
    color: rgb(5, 118, 87);
    padding: 0 8.5%;
    position:relative;
    top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  
}
h3{
    width: 120px;
    cursor: pointer;
    margin-left: 2px;
}
nav{
    display: flex;
    width:100%;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px 0 10px;
}

nav ul{
    flex: 1;
    text-align: right;
    padding-right: 40px;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 30px;
}

nav ul li a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    letter-spacing: 1px;
    font-size: 19px;
} 

nav ul li a:hover{
    color:orange;  
}

.text-box{
    margin-top: 15%;
    width: 60%;
    letter-spacing: 1px;
    line-height:26px;
    margin-left: 30px;
}

 .text-box h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 75px;
    line-height: 130px;
}

.d{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    line-height: 40px;
}
.f{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 46px;
    line-height: 20px;
}
.x{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    line-height: 40px;
}

.z{
    font-family: 'Manrope', sans-serif;
    font-size: 45px;
    line-height: 40px;
    position: absolute;
    width:  100vw;
    text-align: center;
    padding-top: 18px;
    
}

.e{
    font-family: 'Manrope', sans-serif;
    font-size: 65px;
    line-height: 40px;
    position: absolute;
    margin-bottom: 3%;
    margin-top: 2%;
    width:  100vw;
    text-align: center;
    
}

.g{
    font-family: 'Manrope', sans-serif;
    font-size: 45px;
    line-height: 40px;
    position: absolute;
    width:  100vw;
    text-align: center;
    padding-top: 18px;
}

.m{
    font-family: 'Manrope', sans-serif;
    font-size: 45px;
    line-height: 40px;
    position: absolute;
    width:  100vw;
    text-align: center;
    margin-top: 2%;
    color: rgb(5, 118, 87);
    
}




.text-box a{
    margin-top: 15px;
    display: inline-block;
    border-radius: 6px;
    border: 2px solid orange;
    color: orange;
    padding: 10px 30px;
    text-decoration: none;
    
}

.text-box .btn{
    background: orange;
    color: #ffffff;
    margin-left: 30px;
    font-weight: 600;
}
 
.user-img{
    width: 450px;
    position: absolute;
    right: 10%;
    bottom: 25%;
    margin-top: 10px;
}

.img{
     width:  20px;
     position: relative;
    margin: auto;
  display: block; 
  padding: 10px 30px;
  top: 15%;
}




/* 
  footer {
    background-color: rgb(227, 108, 68);
    width: 200%;
    transform: translateX(-25%);
    height: 120px;
    border-radius: 60% 10% 0 0;
    
 } */

 footer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: linear-gradient(white, rgb(255, 140, 0));
    height: 13vh;
    width: 100vw;
    padding-top: 40px;
    color: #fff;
} 
 .container {
    width: 100%;
    float: left;
  }



  @media only screen and (max-width: 1365px){

    .user-img{
        width: 400px;
        position: absolute;
        margin-top: 40px;
        margin-left: 10px;
    }

    .text-box h1{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 58px;
        line-height: 80px;
    }

    .d{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 32px;
        line-height: 34px;
    }
    .f{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 42px;
        line-height: 30px;
    }
    .x{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
        line-height: 30px;
    

  }}

  @media only screen and (max-width: 1057px){
    nav{
        display: flex;
        width:100%;
        align-items: center;
        flex-wrap: wrap;
        padding: 15px 0 5px;
    }


    .user-img{
        width: 400px;
        position: absolute;
        margin-top: 40px;
        margin-left: 10px;
    }

    .text-box h1{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 55px;
        line-height: 80px;
    }
    footer{
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background-image: linear-gradient(white, rgb(255, 140, 0));
        height: auto;
        width: 100vw;
        padding-top: 40px;
        color: #fff;
    }

    .d{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 27px;
        line-height: 34px;
    }
    .f{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 37px;
        line-height: 30px;
    }
    .x{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 17px;
        line-height: 20px;
    

  }}

  @media only screen and (max-width: 974px){

    nav{
        display: flex;
        width:100%;
        align-items: center;
        flex-wrap: wrap;
        padding: 15px 0 5px;
    }

    .user-img{
        width: 320px;
        position: relative;
        margin-top: 40px;
        margin-left: 100px;
    }

    .container {
        width: 100%;
        margin: 0 auto;
        /* important part */
        display: grid;
        place-items: center;
      }

      .text-box{
        margin-top: 10%;
        width: 100%;
        letter-spacing: 1px;
        line-height:26px;
        margin-left: 30px;
    }

    .text-box h1{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 55px;
        line-height: 80px;
    }

    .d{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 27px;
        line-height: 34px;
    }
    .f{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 37px;
        line-height: 30px;
    }
    .x{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 17px;
        line-height: 20px;
    

  }}

 
 
  @media only screen and (max-width: 768px){
    nav{
        display: flex;
        width:100%;
        align-items: center;
        flex-wrap: wrap;
        padding: 15px 0 5px;
    }

    .container {
        width: 100%;
        margin: 0 auto;
        /* important part */
        display: grid;
        place-items: center;
      }

      .text-box{
        margin-top: 10%;
        width: 100%;
        letter-spacing: 1px;
        line-height:26px;
        margin-left: 30px;
    }

      .text-box h1{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 50px;
        line-height: 80px;
    }

    .d{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 30px;
        line-height: 50px;
    }
    .f{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 35px;
        line-height: 25px;
    }
    .x{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 15px;
        line-height: 20px;
    }

    .user-img{
        width: 350px;
        position: relative;
        margin-top: 40px;
    }

    .text-box a{
        margin-top: 15px;
        display: inline-block;
        border-radius: 6px;
        border: 2px solid orange;
        color: orange;
        padding: 2px 6px;
        text-decoration: none;
        font-size: 12px;
        
    }
    
    .text-box .btn{
        background: orange;
        color: #ffffff;
        margin-left: 10px;
        font-size: 12px;
    }

    nav ul li a{
        color: rgb(0, 0, 0);
        text-decoration: none;
        letter-spacing: 1px;
        font-size: 15px;
    } 

    nav ul{
        flex: 1;
        text-align: right;
        padding-right: 20px;
    }

    nav ul li{
        display: inline-block;
        list-style: none;
        margin: 5px 15px;
    }

    .languages-container img {
        max-width: 500px;
        max-height: 300px;
      }

    
  }

  @media only screen and (max-width: 545px){

    /* footer{
        display: none;
    } */

    nav{
        display: flex;
        width:100%;
        align-items: right;
        flex-wrap: wrap;
        padding: 15px 0 5px;
    }

    nav ul{
        flex: 1;
        text-align: center;
        padding-right: 5px;
    }

    nav ul li a{
        color: rgb(0, 0, 0);
        text-decoration: none;
        letter-spacing: 1px;
        font-size: 10px;
    } 

    nav ul li{
        display: inline-block;
        list-style: none;
        margin: 3px 10px;
    }

    .text-box h1{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 38px;
        line-height: 55px;
    }

    .d{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 22px;
        line-height: 28px;
    }
    .f{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 25px;
        line-height: 25px;
    }
    .x{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 13px;
        line-height: 18px;
    }

    .user-img{
        width: 350px;
        position: relative;
        margin-top: 10px;
        margin-left: 50px;
    }

    .text-box{
        margin-top: 10%;
        width: 100%;
        letter-spacing: 1px;
        line-height:26px;
        margin-left: 30px;
        margin-bottom: 10%;
    }

    footer{
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background-image: linear-gradient(white, rgb(255, 140, 0));
        height: auto;
        width: 100vw;
        padding-top: 40px;
        color: #fff;
    }
    .languages-container img {
        max-width: 500px;
        max-height: 300px;
      }


  }

  @media only screen and (max-width: 390px){

    .user-img{
        width: 320px;
        position: relative;
        margin-top: 100px;
        margin-left: 50px;
        margin-bottom: 3%ß;
    }

    .text-box{
        margin-top: 10%;
        width: 100%;
        letter-spacing: 1px;
        line-height:26px;
        margin-left: 5px;
        margin-bottom: 10%;
    }

    footer{
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background-image: linear-gradient(white, rgb(255, 140, 0));
        height: auto;
        width: 100vw;
        padding-top: 40px;
        color: #fff;
    }

    .languages-container img {
        max-width: 420px;
        max-height: 260px;
      }

      .container_{
        margin-top:20px !important;
        margin-left: 20px;
        margin-right: 0px;
        color: rgb(5, 118, 87);
    
      }


      

    .card:hover {
        transform: scale(1.01);
      }

      .g{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 25px;
        line-height: 40px;
        position: absolute;
        width:  100vw;
        text-align: center;
        padding-top: 18px;
    }

    .languages-container h1 {
        font-size: 25px;
        text-align: center;
        margin-top: 20px;
    }

    .m{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 25px;
        line-height: 40px;
        position: absolute;
        width:  100vw;
        text-align: center;
        margin-top: 2%;
        color: rgb(5, 118, 87);
        
    }

    

  }


 
